SMTP_HOST="sandbox.smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USERNAME=
SMTP_PASSWORD=

# PSQL_HOST should be set to db in prod to match the docker service
PSQL_HOST=localhost
PSQL_PORT=5432
PSQL_USER=
PSQL_PASSWORD=
PSQL_DATABASE=
PSQL_SSLMODE=disable

CSRF_KEY=<32 byte string>
CSRF_SECURE=false

SERVER_ADDRESS=:8080

DROPBOX_APP_ID=
DROPBOX_APP_SECRET=