{{define "content"}}
    <main class="h-full w-full px-4 text-center py-12">
        <h1 class="pt-8 text-3xl font-bold">Check your email</h1>
        <p class="text-gray-600">An email has been sent to the email address {{.Email}} with instructions to reset your password.</p>
    </main>
{{end}}